@import '../../styles/variables';

.call-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: fit-content;
  height: 80vh;

  &__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__pagination {
    margin-top: 2rem;

    ul {
      justify-content: space-between;
    }

    @media (max-width: $smartphone-width) {
      margin-top: 0rem;
    }
  }

  &__stack {
    overflow-y: auto;
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    button {
      background-color: #83b2ee;
    }
  }
}
